// SECTION GAME 

.tamagotchiGame {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6b6a6a99;
    border-radius: 10px;
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.579);

    img {
        width: 500px;
        height: 500px;

        &#geko {
            position: absolute;
            top: 50%;
            width: 150px;
            height: 150px;
            animation: walk 8s ease infinite;
        }

        @keyframes walk {
            0% {
                transform: translateX(50%) rotate(0deg) scale(1) scaleX(1);
            }

            25% {
                transform: translateX(75%) rotate(3deg) scale(1);
            }

            50% {
                transform: translateX(-35%) rotate(0deg) scale(0.8) scaleX(-1);
            }

            75% {
                transform: translateX(-45%) rotate(-3deg) scale(1);
            }

            100% {
                transform: translateX(50%) rotate(0deg) scale(1) scaleX(1);
            }
        }



        &#cat {
            position: absolute;
            top: 335px;
            left: 300px;
            width: 50px;
            height: 50px;

        }

        &#fox {
            position: absolute;
            top: 225px;
            right: 465px;
            width: 50px;
            height: 50px;
        }

    }

    @keyframes spin {
        0% {
            rotate: 0deg;
        }

        25% {
            rotate: 90deg;
        }

        50% {
            rotate: 360deg;
        }

        75% {
            rotate: 180deg;
        }

        100% {
            rotate: 0deg;
        }

    }
}

// STATS BARS

.gameStats {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 1rem;
    background-color: #6b6a6a99;
    border-radius: 10px;
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.579);

    button {
        border-style: none;
        border-radius: 10px;

        &:hover {
            cursor: pointer;
        }
    }

    #btnfood {
        background-color: #96d800;
    }

    #btnwater {
        background-color: #fd5a2d;
    }

    #btnspc {
        background-color: #f9e162;
    }

}

.cmd {

    input {
        flex-direction: column;
        text-align: center;
        border-radius: 20px;
        border-style: none;
        outline-style: none;
        padding: 2rem;
        margin: 1rem;
        background-color: #6b6a6a99;
        border-radius: 10px;
        box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.579);
    }
}