// SECTION GAME 

.tamagotchiGame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #6b6a6a99;
    border-radius: 10px;
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.579);

    .interiorSpaceShip {
        padding: 2rem;
    }

    .selectedPilote {
        top: 100px;
        left: 100px;
        width: 150px;
        height: 150px;
        animation: walk 8s ease infinite;
    }

    img {
       
        width: 500px;
        height: 500px;



        &#geko {
            // bottom: 0;
            // left: 0;
            width: 150px;
            height: 150px;
            
        }

        &#cat {
            // bottom: 0;
            // left: 0;
            width: 150px;
            height: 150px;
            

        }

        &#fox {
            top: 10px;
            left: 10px;
            width: 150px;
            height: 150px;
            
        }

    }

    @keyframes walk {
        0% {
            transform: translateX(50%) rotate(0deg) scale(1) scaleX(1);
        }

        25% {
            transform: translateX(75%) rotate(3deg) scale(1);
        }

        50% {
            transform: translateX(-35%) rotate(0deg) scale(0.8) scaleX(-1);
        }

        75% {
            transform: translateX(-45%) rotate(-3deg) scale(1);
        }

        100% {
            transform: translateX(50%) rotate(0deg) scale(1) scaleX(1);
        }

    }
}

// STATS BARS

.gameStats {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 1rem;
    background-color: #302f2f99;
    border-radius: 10px;
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.579);

    button {
        border-style: none;
        border-radius: 10px;

        &:hover {
            cursor: pointer;
        }
    }

    #btnfood {
        background-color: rgba(134, 184, 92, 0.579);
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
        box-shadow: 2px 5px 3px rgba(8, 8, 8, 0.579);
        border-radius: 20px;
        &:hover {
            animation: grow 0.5s ease-in-out infinite
        }
    }

    #btnwater {
        background-color: rgba(12, 136, 193, 0.623);
        width: 40px;
        height: 40px;
        box-shadow: 2px 5px 3px rgba(8, 8, 8, 0.579);
        border-radius: 20px;
        &:hover {
            animation: grow 0.5s ease-in-out infinite
        }
    }

    #btnspc {
        background-color: rgba(223, 72, 27, 0.579);
        width: 40px;
        height: 40px;
        box-shadow: 2px 5px 3px rgba(8, 8, 8, 0.579);
        border-radius: 20px;
        &:hover {
            animation: grow 0.5s ease-in-out infinite
        }
    }

}

.cmd {

    input {
        border-radius: 20px;
        border-style: none;
        outline-style: none;
        padding: 2rem;
        margin: 1rem;
        background-color: rgba(163, 42, 42, 0.686);
        border-radius: 10px;
        box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.579);
    }
}