// PERSO SECLECTION

.tamagotchiContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/Img/Desk_Room.jpg);
    background-size: cover;
    background-color: white;
    border-radius: 10px;
}

.arrow {
    position: sticky;
    left: 50px;
    bottom: 430px;
    animation: bounce 0.5s infinite;
}

.tamagotchi {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6b6a6a99;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 2px 5px -2px rgba(0, 0, 0, 0.579);
    

    h1 {
        font-size: 30px;
        text-align: center;
        color: #ffffff;
    }

    img {
        width: 200px;
        height: 200px;
        cursor: pointer;

        &:hover {
            animation: bounce 0.5s infinite;
        }
    }
}

.perso {
    display: flex;
    flex-direction: row;
}

.selectedPerso {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.name_input {
    display: flex;
    flex-direction: column;
    background-color: #83838379;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

    p {
        color: #ffffff;
        text-align: center;
    }

    input {
        text-align: center;
        border-radius: 20px;
        border-style: none;
        outline-style: none;
        margin-inline: 20%;
        padding: 12px;

        &:hover {
            animation: grow 0.5s ease-in-out
        }

    }
}

@keyframes grow {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


.btn {
    background-color: rgba(209, 76, 99, 1);
    color: white;
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    font-size: larger;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: scale 0.5 ease-in-out;

    &:hover {
        background-color: #3e8e41;
        animation: grow 0.5s ease-in-out
    }
}

